body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: gray;
}

#content {
    padding: 20px;
}
#container {
  flex: 1;
  padding: 20px; /* Add padding if needed */
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative; /* Change to relative */
  bottom: 0;
  margin-top: auto; /* Ensures it stays at the bottom */
  z-index: 1000;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    margin: auto;
  }
  
  /* Table header styling */
  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  /* Table header specific styling */
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  /* Table row styling */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect for table rows */
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Optional: Styling for the first column */
  td:first-child, th:first-child {
    text-align: center;
  }

  tr {
    display: table-row;
  }


  .company-title {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

  .company_login{
    margin-top: 5%;
  }

.logo-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 300px; /* Adjust height as needed */
}


.logo {
  max-width: 100%; /* Adjust maximum width of the logo */
  height: auto; /* Ensures the logo scales proportionally */
  max-height: 100%; /* Ensures the logo does not exceed container height */
}

#create-link {
  text-align: right; /* Align the link to the right */
}

#createbutton {
  background-color: black; /* Change background color to black */
  color: white; /* Text color */
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: none; /* Remove default link underline */
}

#createbutton:hover {
  background-color: darkgray; /* Darken background color on hover */
}



.badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #f44336; /* Red color to indicate urgency */
  border-radius: 5px;
}

.no-pending {
  color: #555;
}

