/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 10px;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

.company-title {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}