<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/layout.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="company-title">
        <h1>CodeSphere Technologies</h1>
    </div>
    <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CodeSphere</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('elogin') }}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{{ url_for('employee_login')}}">Employee</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <br>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    <div id="footer">
        {% block footer %}
        CodeSphere Technologies Pvt
        {% endblock %}
        &copy; 2024
    </div>
</body>
</html>
