<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='createform.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <title>Login Form</title>
</head>
<body>
    <div class="company-title">
        <h1>CODESPHERE TECHNOLOGIES</h1>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div id="parent" class="company_login">
        <form action="{{ url_for('login') }}" method='POST' id="form_login">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <div class="button-container">
                <button>Submit</button>
            </div>
            
        </form>
    </div>
</body>
</html>
